.md-typeset h3,
main h3,
article h3,
div[role="main"] h3,
section h3,
h3 {
    font-size: 1.3rem;
    font-weight: 500;
}

.md-typeset h4,
main h4,
article h4,
div[role="main"] h4,
section h4,
h4 {
    font-size: 1.2rem;
    font-weight: 500;
}

.navbar-nav > li > a,
.navbar-nav > li > span,
.navbar-right > li > a {
    font-size: 0.9rem;
    padding-left: 8px;
    padding-right: 8px;
}

.navbar-brand {
    font-size: 0.85rem;
}
